In [1]:
import pandas as pd

    In a dataset we have different data types, like : int64, float64, object...
    
    Here object are none other than string (categorical variable).
    
    We need to be aware of what data types are stored in columns so we get an idea of which function and calculations can be performed on the data.

In [16]:
df = pd.read_csv('data/shopping_trends.csv')

    .dtypes gives the info columns datatypes!

In [17]:
df.dtypes

Customer ID                   int64
Age                           int64
Gender                       object
Item Purchased               object
Category                     object
Purchase Amount (USD)         int64
Location                     object
Size                         object
Color                        object
Season                       object
Review Rating               float64
Subscription Status          object
Payment Method               object
Shipping Type                object
Discount Applied             object
Promo Code Used              object
Previous Purchases            int64
Preferred Payment Method     object
Frequency of Purchases       object
dtype: object

    Itâ€™s much easier to work with string object types when the variable is not a numeric number.

    The astype() method in pandas is used to cast a pandas object to a specified data type.

In [18]:
df['Age'].dtypes

dtype('int64')

In [23]:
df['Age'] = df['Age'].astype(str)
df['Age'].dtypes

dtype('O')

In [22]:
df['Age'] = df['Age'].astype(int)
df['Age'].dtypes

dtype('int32')

    Another way to convert dtypes to numeric types are...
    
    pd.to_numeric(df[cols])

In [25]:
df['Age'] = pd.to_numeric(df['Age'])

    If we have missing value, then we can add arguments like error to rectify it.
    pd.to_numeric(df[cols], errors='ignore')
    
    ignore :-> missing
    coerce :-> NaN

    to_numeric function has another parameter called downcast,
        which allows you to change the numeric dtype to the smallest possible numeric dtype

In [27]:
df['Age'] = pd.to_numeric(df['Age'], downcast='float')
df['Age']

0       55.0
1       19.0
2       50.0
3       21.0
4       45.0
        ...
3895    40.0
3896    52.0
3897    46.0
3898    44.0
3899    52.0
Name: Age, Length: 3900, dtype: float32