In [1]:
# Data Handling
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')
df

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,haircare,SKU95,77.903927,65,672,7386.363944,Unknown,15,14,26,...,Mumbai,18,450,26,58.890686,Pending,1.210882,Air,Route A,778.864241
96,cosmetics,SKU96,24.423131,29,324,7698.424766,Non-binary,67,2,32,...,Mumbai,28,648,28,17.803756,Pending,3.872048,Road,Route A,188.742141
97,haircare,SKU97,3.526111,56,62,4370.916580,Male,46,19,4,...,Mumbai,10,535,13,65.765156,Fail,3.376238,Road,Route A,540.132423
98,skincare,SKU98,19.754605,43,913,8525.952560,Female,53,1,27,...,Chennai,28,581,9,5.604691,Pending,2.908122,Rail,Route A,882.198864
99,haircare,SKU99,68.517833,17,627,9185.185829,Unknown,55,8,59,...,Chennai,29,921,2,38.072899,Fail,0.346027,Rail,Route B,210.743009

### count():
    Counts the number of non-null/NaN values in a Series or DataFrame.

In [3]:
df.count()

Product type               100
SKU                        100
Price                      100
Availability               100
Number of products sold    100
Revenue generated          100
Customer demographics      100
Stock levels               100
Lead times                 100
Order quantities           100
Shipping times             100
Shipping carriers          100
Shipping costs             100
Supplier name              100
Location                   100
Lead time                  100
Production volumes         100
Manufacturing lead time    100
Manufacturing costs        100
Inspection results         100
Defect rates               100
Transportation modes       100
Routes                     100
Costs                      100
dtype: int64

### sum(): 
    Calculates the sum of numeric values in a Series or DataFrame.

In [4]:
df.Costs.sum()

52924.57821581411

### mean(): 
    Computes the mean (average) of numeric values in a Series or DataFrame.

In [5]:
df['Shipping costs'].mean()

5.548149072019588

### median(): 
    Calculates the median (middle) value of numeric values.

In [6]:
df['Stock levels'].median()

47.5

### min(): 
    Returns the minimum value in a Series or DataFrame.

In [7]:
df['Order quantities'].min()

1

### max(): 
    Returns the maximum value in a Series or DataFrame.

In [8]:
df['Order quantities'].max()

96

### std(): 
    Computes the standard deviation of numeric values.

In [9]:
df['Defect rates'].std()

1.46136554894314

### var(): 
    Computes the variance of numeric values.

In [10]:
df['Defect rates'].var()

2.135589267637885

## quantile(q): 
    Calculates the q-th quantile of numeric data for the first quartile).

In [12]:
df['Defect rates'].quantile(0.25)

1.0096499717695706

### describe(): 
    Generates various summary statistics 
    (count, mean, std, min, 25%, 50%, 75%, max) 
    for numeric data in a DataFrame.

In [13]:
df['Defect rates'].describe()

count    100.000000
mean       2.277158
std        1.461366
min        0.018608
25%        1.009650
50%        2.141863
75%        3.563995
max        4.939255
Name: Defect rates, dtype: float64

### mode(): 
    Computes the mode (most frequent value) of a Series.

In [14]:
df['Inspection results'].mode()

0    Pending
Name: Inspection results, dtype: object

In [16]:
df['Inspection results'].mode()[0]

'Pending'

### corr(): 
    Calculates the correlation between numeric columns in a DataFrame.

In [20]:
df[['Manufacturing lead time', 'Manufacturing costs', 'Defect rates']].corr()

,Manufacturing lead time,Manufacturing costs,Defect rates
Manufacturing lead time,1.000000,-0.158098,0.139518
Manufacturing costs,-0.158098,1.000000,-0.007819
Defect rates,0.139518,-0.007819,1.000000

### cov(): 
    Computes the covariance between numeric columns in a DataFrame.

In [21]:
df[['Manufacturing lead time', 'Manufacturing costs', 'Defect rates']].cov()

,Manufacturing lead time,Manufacturing costs,Defect rates
Manufacturing lead time,79.431414,-40.837815,1.817133
Manufacturing costs,-40.837815,840.005085,-0.331167
Defect rates,1.817133,-0.331167,2.135589

### nunique(): 
    Counts the number of unique values in a Series or DataFrame.

In [22]:
df['Product type'].nunique()

3

### unique(): 
    Returns an array of unique values in a Series.

In [23]:
df['Product type'].unique()

array(['haircare', 'skincare', 'cosmetics'], dtype=object)

### value_counts(): 
    Returns a Series containing counts of unique values in a Series.

In [24]:
df['Product type'].value_counts()

skincare     40
haircare     34
cosmetics    26
Name: Product type, dtype: int64