In [2]:
# Data Handling
import pandas as pd
import numpy as np

df = pd.read_csv('admit.csv')
df

     GRE  TOEFL  Univ_Rating  SOP  LOR   CGPA  Research  Admit
0    337    118            4  4.5   4.5  9.65         1      1
1    324    107            4  4.0   4.5  8.87         1      1
2    316    104            3  3.0   3.5  8.00         1      1
3    322    110            3  3.5   2.5  8.67         1      1
4    314    103            2  2.0   3.0  8.21         0      0
..   ...    ...          ...  ...   ...   ...       ...    ...
395  324    110            3  3.5   3.5  9.04         1      1
396  325    107            3  3.0   3.5  9.11         1      1
397  330    116            4  5.0   4.5  9.45         1      1
398  312    103            3  3.5   4.0  8.78         0      0
399  333    117            4  5.0   4.0  9.66         1      1

[400 rows x 8 columns]