## Pandas

    This library gives the python the ability to work with spreadsheet-like data.
    
    "Pandas" has a reference to both "Panel Data", and "Python Data Analysis"
    
    This introduced two new data types to deal with in python:
    
    DataFrame :
        represents your entire spreadsheet or rectangular data.
        
    Series :
        represents a single column of the DataFrame.
    
    Python to load (import) the library.
    
```python
import pandas
```

In [3]:
# common practice to give pandas the alias pd
import pandas as pd

In [4]:
# with read_csv function to load a CSV data file
df = pd.read_csv('../dataset/example_1.csv')

In [5]:
# this gives us the number of rows and columns of the DataFrame.
df.shape # shape attribute

(15, 6)

In [6]:
# built-in type function
type(df)

pandas.core.frame.DataFrame

    Now we know the data type of Pandas is

```python
<class 'pandas.core.frame.DataFrame'>
```
    
    but when we load the csv file or any other file, we need to know the type that it contains.

In [7]:
# What is the type of the column names?
df.dtypes # dtype attribute (this is one way)

Unnamed: 0        int64
college_name     object
region           object
year              int64
population        int64
success_rate    float64
dtype: object

In [8]:
# another way
df.info() # info method

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    15 non-null     int64
 1   college_name  15 non-null     object
 2   region        15 non-null     object
 3   year          15 non-null     int64
 4   population    15 non-null     int64
 5   success_rate  15 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 852.0+ bytes

    Types of Data in Pandas
    
    object
    int
    float
    datatime

In [9]:
df

    Unnamed: 0    college_name region  year  population  success_rate
0            0  ABC University   East  2020        1500          0.85
1            1     XYZ College   West  2019        1200          0.78
2            2   123 Institute  South  2021        2000          0.92
3            3  EFG University  North  2022        1800          0.89
4            4     LMN College   East  2020        1300          0.75
5            5   UVW Institute   West  2018        1600          0.80
6            6  PQR University  South  2019        1700          0.88
7            7     IJK College  North  2022        1900          0.91
8            8   DEF Institute   East  2021        1400          0.82
9            9  OPQ University   West  2020        1100          0.79
10          10     RST College  South  2018        2200          0.94
11          11   GHI Institute  North  2019        1600          0.87
12          12  JKL University   East  2021        2000          0.86
13          13     MNO College   West  2018        1500          0.81
14          14   XYZ Institute  South  2022        1800          0.90